@import "tailwindcss";

:root {
  /* 60% PRIMARY - Deep Navy */
  --color-primary: #0B1C2D;

  /* 30% SECONDARY - Soft Beige */
  --color-secondary: #F5EFE6;

  /* 10% ACCENT - Gold */
  --color-accent: #C6A75E;

  /* Text */
  --color-text-dark: #111827;
  --color-text-light: #FFFFFF;
}

/* Base background */
body {
  background-color: var(--color-primary);
  color: var(--color-text-light);
}
